# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/build/*
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/
.mirror_in_github

# Sass & Compass
*/.sass-cache/
.sass-cache
*.css.map

# Node
/node_modules/
/bower_components/

# Sublime project
*.tmplanguage.cache
*.tmpPreferences.cache
*.stTheme.cache
*.sublime-project
*.sublime-workspace

# Swap & temp files
._*
*~
.DS_Store
*.tmp
*.bak
*.swp
.*.kate-swp
.swp.*
.metadata
.directory
.project
local.properties
.settings/
.loadpath
*.kdev4
.kdev4/
.vagrant/
/test
/tests
